.lokiModal {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
}

.paper {
  background-color: grey;
  border: 2px solid #000;
  box-shadow: 0 0 0 0;
  padding: 0;
}

.dashboard {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
  margin: 4px 4px 0 4px;
  border-radius: 8px;
}

.lokiCard {
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
