.leftNav {
  min-width: 10%;
  border-right: 1px solid gray;
}

.navItems {
  display: flex;
  flex-direction: column;

  margin-left: 0px;
  padding: 4px 4px 4px 4px;
}

.navItem {
  background-color: #1e1e1e;
  color: white;
  padding: 8px;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  border-bottom: 1px dotted gray;

  &:hover {
    cursor: pointer;
    background-color: lighten(#1e1e1e, 5%);
  }
}

.active {
  color: rgb(19, 140, 211);
  background-color: lighten(#1e1e1e, 5%);
}