.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  background: linear-gradient(267deg,deepskyblue,#093567);
  background-size: 120% 120%;
  animation: gradient-animation 6s ease infinite;


  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;

  .pageContent {
    display: flex;
    flex-direction: row;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.routerPage {
  display: flex;
  LeftNav {
    background-color: red
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
